@import "tailwindcss";

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  background-color: #f3f4f6; 
  color: #111827; 
  min-height: 100vh;
}

html, body, #root {
  height: 100%;
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  z-index: 1;
}

button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
}